.sidebar {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2ef;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.sidebar a {
  color: var(--main-color);
  text-decoration: none;
  margin: 1em;
  font-size: 1.5rem;
}

.sidebar h2 {
  background-color: var(--main-color);
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding-bottom: 4vh;
  padding-top: 4vh;
  margin: 0;
  font-weight: bolder;
}
