@font-face {
  font-family: "Zona Pro";
  font-weight: 100;
  src: url("assets/fonts/ZonaPro-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Zona Pro";
  font-weight: 200;
  src: url("assets/fonts/ZonaPro-ExtraLight.otf") format("opentype");
}

/* @font-face {
  font-family: "Zona Pro";
  font-weight: 300;
  src: url("assets/fonts/ZonaPro-Light.otf") format("opentype");
} */

@font-face {
  font-family: "Zona Pro";
  font-weight: 400;
  src: url("assets/fonts/ZonaPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Zona Pro";
  font-weight: 700;
  src: url("assets/fonts/ZonaPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Zona Pro";
  font-weight: 800;
  src: url("assets/fonts/ZonaPro-ExtraBoldDemo.otf") format("opentype");
}

@font-face {
  font-family: "Zona Pro";
  src: url("assets/fonts/Zona-Pro.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Zona Pro", Metropolis, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: var(--text-color);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /*064931*/
  /*0e4a9f*/
  --main-color: #0e4a9f;
  --background-color: #f5f6fa;
  --text-color: rgb(103, 103, 103);
}

h1 {
  font-size: 3rem;
  padding: 0;
  border: none;
  text-align: left;
  width: 80%;
  color: var(--main-color);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.App {
  background-color: #dfe6f8;
  border-radius: 20px 0 0 20px;
}

@media screen and (max-width: 768px) {
  .App {
    border-radius: 0;
  }
}
