body {
  margin: 0;
  padding: 0;
  font-family: Metropolis, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: #064931;
}

h1{
  font-weight: 700;
  background-color: white;
  color: var(--main-color);
  padding: 2rem;
  text-align: center;
  margin-top : 3rem;
  border-radius: 2rem;
  border: var(--main-color) 3px solid;
}

