.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 80px;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.8s ease-in-out;
  border-radius: 0 45px 45px 0;
}

.sidebar a {
  color: #f2f2ef;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar a p {
  display: none;
}

.sidebar h2 {
  opacity: 0;
}

.sidebar:not(.active) svg {
  border-radius: 50%;
  /* stroke: var(--main-color); */
  transition: all 0.3s ease-in-out;
}

.sidebar .active svg {
  padding: 0.5rem;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.home-svg.active svg path,
.program-svg.active svg path {
  stroke: var(--main-color);
}

.session-svg.active svg g,
.exercise-svg.active svg g,
.program-svg.active svg circle,
.account-svg.active svg {
  fill: var(--main-color);
}

.home-svg svg path,
.program-svg svg path {
  stroke: white;
}

.session-svg svg g,
.exercise-svg svg g,
.program-svg svg circle,
.account-svg svg {
  fill: white;
}

@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
